/* ШАПКА */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

/* стили для меню с навигацией */

.header__menu {
  display: flex;
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

/* стили для логотипа */

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

/* стили для плашки с контактной информацией */

.header__address {
  justify-self: end;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4px;
  list-style-type: none;
  padding-left: 185px;
}

/* ОБЛОЖКА */

.cover {
}

.overlay {
}

.cover__title {
}

.aligned-text {
}

.aligned-text_center {
}

.aligned-text_right {
}

.letter-spacing-extended {
}

.no-letter-spacing {
}

.cover__description {
}

.cover__description-text {
}

.bet-button {
}

/* СЕКЦИЯ ЛОТОВ */

.lots {
}

.lots__heading {
}

.lots__card-list {
}

.lots__card-list-item {
}

.card-link {
}

.card {
}

.card_type_film {
}

.card_type_book {
}

.card_type_picture {
}

.card__title {
}

.card__text {
}

.lots__look-more-link {
}

/* СЕКЦИЯ ОБ АУКЦИОНЕ */

.about {
}

.about__column {
}

.about__logo {
}

.about__logo-image {
}

.about__title {
}

.about__text {
}

/* ПОДВАЛ */

.footer {
}

.footer__address {
}

.footer__menu {
}

.footer__menu-list {
}

.footer__menu-list-item {
}

.footer__menu-link {
}

.footer__menu-link_active {
}

.footer__social-list {
}

.footer__social-list-item {
}

.footer__social-link {
}

.footer__social-icon {
}
